services:
  db:
    image: postgres
    
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      
    ports:
      - "5434:5432" 

    volumes:
      - postgres_data:/var/lib/postgresql


    rabbitmq:
      image: rabbitmq:3-management-alpine
      hostname: rabbitmq
      ports:
        - "5672:5672"
        - "15672:15672"
      environment:
        RABBITMQ_DEFAULT_USER: guest
        RABBITMQ_DEFAULT_PASS: guest
      volumes:
        - rabbitmq_data:/var/lib/rabbitmq


volumes:
  postgres_data:
    


